/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
google-application-credentials.json
/database/seeds/*.un~
Dockerfile
build-deploy/first-run.sh
build-deploy/image/run.sh
build-deploy/nginx/domains.d/app.local.conf
build-deploy/run.sh
build-deploy/prepare.sh
docker-compose.yml
composer.lock